<!DOCTYPE html>

<h3>User Index Page</h3>

<div>
	<ul>
		<% @users.all.each do |u| %>
		<li>
			<%= "#{u.fname} #{u.lname} #{u.id}" %><br>
			<%= link_to "this user's page", user_path(u.id) %>
		</li>
		<% end %>
	</ul>
</div>
