<!DOCTYPE html>

<h3><%= "#{@user.fname}'s Posts" %></h3>

<div>

		<% if @user.posts.last.nil? %>
			<%= "no posts yet" %>
		<% else %>

	<ul>
		<% @user.posts.each do |p| %>
		<li>
			<%= "#{p.title} (#{p.id})" %><br>
			<%= p.body %>
		</li>
		<% end %>
		<% end %>
	</ul>
</div>